name: Continuous Integration and Deployment

on:
 push:
    branches:
      -main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: check out code
        uses: actions/checkout@v2

      - name: setup dot net 
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '2.0.x'

      - name: Restore Dependencies
        run: dotnet restore
      
      - name: Build App
        run: dotnet build -c Release --no-restore

